<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>INDEX</title>
	</head>
	<body>
		<h1>FORM EXAMPLE</h1>
		<form class="" action="/process" method="POST">
			<label for="fer">FIRST NAME</label>
			<input type="text" name="firster" id="fer" placeholder="First Name">
			<label for="ler">LAST NAME</label>
			<input type="text" name="laster" id="ler" placeholder="Last Name">
			<input type="submit">
		</form>
	</body>
</html>
